<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
        <setting name="defaultFetchSize" value="50" />
    </settings>
    <typeAliases>
        <package name="com.example.demo.spring.mvc.entity" />
    </typeAliases>
</configuration>